<div class="card">
    <div class="left_img">
        <div class="left">
            <img [src]="photographer.imageurl">
        </div>
    </div>

    <div class="description">
        <h3>{{photographer.nom}}</h3>
        <p>📍 {{photographer.ville}}•📷 {{photographer.categorie}}</p>
        <span>✔ CNI·Tél vérifié·{{photographer.nombrePhotos}} photos</span>
    </div>
    <div class="actions">
        <button class="validate" (click)="onValidate()">Valider</button>
        <button class="reject"(click)="onReject()"> Refuser</button>
    </div>
</div>