<div class="card">
    <div class="left_img">
        <div class="left">
            <img [src]="demande.image">
        </div>
    </div>

    <div class="description">
        <h3>{{demande.nom}}</h3>
        <p>📍 {{demande.ville}}•📷 {{demande.categorie}}</p>
        <span>✔ CNI·Tél vérifié·{{demande.nombrePhotos}} photos</span>
    </div>
    <div class="actions">
        <button class="validate" (click)="onValidate()">Valider</button>
        <button class="reject"(click)="onReject()"> Refuser</button>
    </div>
</div>