@if (photographer) {
<div class="header-profil">
  <div class="bannier">
      <img [src]="photographer.photoCouverture" [alt]="photographer.nom">
  </div>
  <div class="photographer-detail-container">
    <div class="profile-photo">
      <img [src]="photographer.photoProfil" [alt]="photographer.nom">
    </div>
    <div class="info">
      <div class="description-one">
        <h3> {{ photographer.nom }}</h3>
        @if (photographer.certifie) {
          <app-verified-badge/>
        }
      </div>
      <div class="description-two">
        <div class="description-two-specialite">
          <p>{{ photographer.specialite }}</p>
        </div>
        <div class="description-two-specialite">
          <span><i class="fa-solid fa-location-dot"></i></span>
          <p>{{ photographer.ville }}</p>
        </div>
        <div class="stars">
          <app-rating-stars [note]="photographer.note" ></app-rating-stars>
        </div>
      </div>
    </div>
    @if (canReserve) {
      <div class="click">
        <button class="buttom" (click)="reserver.emit()">Réserver</button>
      </div>
    }
  </div>
</div>
}
