.card{
    height:170px;
    border-radius:14px;
    overflow:hidden;
    position:relative;
    cursor:pointer;

}



.card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.4s;
}



.card:hover img{
    transform:scale(1.1);
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:.3s;
}

.card:hover .overlay{
    opacity:1;

}

.actions button{
    width:45px;
    height:45px;
    border-radius:50%;
    border:none;
    background:#ef4444;
    color:white;
    cursor:pointer;
    transition:.3s;

}

.actions button:hover{
   transform:scale(1.15);
}