<aside>
    <div class="logo"> StudioLink</div>
    <nav>
        <a
        routerLink="/photographer/dashboard"
        routerLinkActive="active">
            Dashboard
        </a>
        <a
        routerLink="/photographer/profile"
        routerLinkActive="active">
            Mon profil
        </a>
        
        <a
        routerLink="/photographer/portfolio"
        routerLinkActive="active">

            Portfolio

        </a>

        <a
        routerLink="/photographer/availability"
        routerLinkActive="active">

            Disponibilités

        </a>

        <a
        routerLink="/photographer/bookings"
        routerLinkActive="active">

            Réservations

        </a>

        <a
        routerLink="/photographer/reviews"
        routerLinkActive="active">

            Avis

        </a>

        <a
        routerLink="/photographer/messages"
        routerLinkActive="active">

            Messages

        </a>

    </nav>

</aside>