<app-profile-header  [photographer]="photographer" ></app-profile-header>
@if (photographerDetail) {
  <div class="container" >
    <div>
      <app-about-card  [bio]="photographerDetail.bio" [categories]="photographerDetail.categories"></app-about-card>
      <app-portfolio-gallery [portfolio]="photographerDetail.portfolio"></app-portfolio-gallery>
      <app-reviews-list [reviews]="photographerDetail.review" ></app-reviews-list>
    </div>
    <div>
      <app-pricing-card [tarrif]="photographerDetail.tarrif"></app-pricing-card>
    </div>
  </div>
}
