
@if(loading){
  <div class="erreur">
      <p >Chargement...</p>
  </div>
}
@else if(error){
    <div class="erreur">
      <p>Une erreur est survenue.</p>
    </div>
}
@else if(notFound){
  <div class="erreur">
    <p>Photographe introuvable.</p>
  </div>
}
@else{
  <app-header></app-header>
  <app-profile-header  [photographer]="photographerDetail" [canReserve]="canReserve" (reserver)="onReserve()" ></app-profile-header>
  @if (photographerDetail) {
    <div class="container" >
      <div>
        <app-about-card  [bio]="photographerDetail.bio" [categories]="photographerDetail.categories"></app-about-card>
        <app-portfolio-gallery [portfolio]="photographerDetail.portfolio"></app-portfolio-gallery>
        <app-reviews-list [avis]="photographerDetail.avis" ></app-reviews-list>
      </div>
      <div>
        <app-pricing-card [tarifs]="photographerDetail.tarifs" [canReserve]="canReserve" (reserver)="onReserve()"></app-pricing-card>
      </div>
    </div>
  }
}