*{
  padding-top: 0;
}


.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 18px;
  margin: 30px;
}
@media (max-width: 740px) {
 .container {
   display: grid;
   grid-template-columns: 1fr;
   gap: 18px;
   margin-top: 24px;
 }
}
