<div class="review-item">
  <h3>Avis clients<span>· modérés par l'admin</span></h3>
  @for (review of avis; track review.id){
    <div class="review-liste">
        <div class="review-header">
          <div>
            <strong>{{ review.auteur }}</strong>
          </div>
          <div class="stars">
            @for (star of getStarArray(); track star){

              <span [class.filled]="star <= review.note">★</span>

            }
          </div>
        </div>
        <p>{{review.texte}}</p>
        <span>{{review.date}}</span>
    </div>
  }
</div>
