<div class="page">

    <a class="back" (click)="goToHome()"> ← Retour au profil</a>
    <div class="card">
        <h1>Demande de réservation</h1>
        <div class="photographer">
                <img [src]="photographer.imageUrl" alt="Photo du photographe">
            <div>
                <h3>{{photographer.nom}}</h3>
                <p>  {{photographer.specialite}}.{{photographer.ville}}</p>
            </div>
        </div>

        <form>
            <div class="grid">
                <div>
                    <label> Date souhaitée</label>
                    <input type="date"[(ngModel)]="reservation.date"name="date">
                </div>
                <div class="crenneaux"> 
                    <div>
                        <label>Heur de debut</label>
                        <input type="time"[(ngModel)]="reservation.heureDebut"name="heureDebut" >                      
                    </div>                 
                    <div>
                        <label>Heure de fin</label>
                        <input type="time"[(ngModel)]="reservation.heureFin"name="heureFin">
                    </div>                        
                </div>
                <div>
                    <label>Type de prestation</label>
                    <input placeholder="Mariage">
                </div>
                <div>
                    <label>Lieu</label>
                    <input placeholder="Yaoundé, Bastos">
                </div>
            </div>
            <label>Délai de livraison souhaité</label>
            <input placeholder="14 jours (défaut)">
            <label>Instructions particulières</label>
            <textarea [(ngModel)]="reservation.message"name="message"placeholder="Décrivez votre demande"></textarea>
            <div class="info">
                🔒 Votre demande est transmise à l'administrateur.
                Réponse sous 24h ouvrées.
            </div>
            <div class="buttons">
                <button type="button" (click)="sendReservation()">Envoyer ma demande →</button>

                <button type="button">Annuler</button>
            </div>
        </form>
    </div>
</div>

<app-message-modal
    [show]="showModal"
    [message]="modalMessage"
    [type]="modalType">
</app-message-modal>